<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hero</key>
	<array>
		<dict>
			<key>chance</key>
			<integer>9</integer>
			<key>name</key>
			<string>Hero_1_paint1</string>
		</dict>
        <dict>
            <key>chance</key>
            <integer>6</integer>
			<key>name</key>
			<string>Hero_1_paint2</string>
		</dict>
        <dict>
            <key>chance</key>
            <integer>3</integer>
			<key>name</key>
			<string>Hero_2_paint1</string>
		</dict>
        <dict>
            <key>chance</key>
            <integer>6</integer>
			<key>name</key>
			<string>Hero_2_paint2</string>
		</dict>
        <dict>
            <key>chance</key>
            <integer>4</integer>
			<key>name</key>
			<string>Hero_3_paint1</string>
		</dict>
        <dict>
            <key>chance</key>
            <integer>2</integer>
			<key>name</key>
			<string>Hero_3_paint2</string>
		</dict>
        <dict>
            <key>chance</key>
            <integer>3</integer>
			<key>name</key>
			<string>Hero_1_paint3</string>
		</dict>
        <dict>
            <key>chance</key>
            <integer>2</integer>
			<key>name</key>
			<string>Hero_2_paint3</string>
		</dict>
        <dict>
            <key>chance</key>
            <integer>1</integer>
			<key>name</key>
			<string>Hero_3_paint3</string>
		</dict>
	</array>
	<key>Foreground</key>
	<array>
		<array>
            <dict>
                <key>chance</key>
                <integer>1</integer>
				<key>image</key>
				<string>Baloon1</string>
			</dict>
            <dict>
                <key>chance</key>
                <integer>1</integer>
				<key>image</key>
				<string>Baloon2</string>
			</dict>
            <dict>
                <key>chance</key>
                <integer>1</integer>
				<key>image</key>
				<string>Baloon3</string>
			</dict>
            <dict>
                <key>chance</key>
                <integer>1</integer>
				<key>image</key>
				<string>Baloon5</string>
			</dict>
            <dict>
                <key>chance</key>
                <integer>1</integer>
				<key>image</key>
				<string>Baloon6</string>
			</dict>
            <dict>
                <key>chance</key>
                <integer>1</integer>
				<key>image</key>
				<string>Baloon4</string>
			</dict>
            <dict>
                <key>chance</key>
                <integer>1</integer>
				<key>image</key>
				<string>Baloon7</string>
			</dict>
		</array>
		<array>
            <dict>
                <key>chance</key>
                <integer>1</integer>
				<key>image</key>
				<string>Cloud1</string>
			</dict>
            <dict>
                <key>chance</key>
                <integer>1</integer>
				<key>image</key>
				<string>Cloud2</string>
			</dict>
		</array>
	</array>
	<key>Background</key>
	<array>
		<dict>
			<key>disposable</key>
			<true/>
			<key>image</key>
			<string>Background_0</string>
		</dict>
		<dict>
			<key>score</key>
			<integer>0</integer>
			<key>image</key>
			<string>Background_1</string>
		</dict>
		<dict>
			<key>disposable</key>
			<true/>
			<key>image</key>
			<string>Background_2</string>
		</dict>
		<dict>
			<key>score</key>
			<integer>20</integer>
			<key>image</key>
			<string>Background_3</string>
		</dict>
		<dict>
			<key>disposable</key>
			<true/>
			<key>image</key>
			<string>Background_4</string>
		</dict>
		<dict>
			<key>score</key>
			<integer>50</integer>
			<key>image</key>
			<string>Background_5</string>
		</dict>
		<dict>
			<key>disposable</key>
			<true/>
			<key>image</key>
			<string>Background_6</string>
		</dict>
		<dict>
			<key>score</key>
			<integer>90</integer>
			<key>image</key>
			<string>Background_7</string>
		</dict>
	</array>
</dict>
</plist>
